﻿@model WebApplicationAcademic.tblAsignaXDiplomado

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblAsignaXDiplomado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.caracter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caracter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idProfesor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idProfesor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creditos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creditos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblAsignatura.nombreAsignatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblAsignatura.nombreAsignatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblDiplomado.nombreDiplomado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblDiplomado.nombreDiplomado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idAsigDiplo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
