﻿@model IEnumerable<WebApplicationAcademic.tblAsignaXDiplomado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.caracter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idProfesor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creditos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblAsignatura.nombreAsignatura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblDiplomado.nombreDiplomado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.caracter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idProfesor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creditos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblAsignatura.nombreAsignatura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblDiplomado.nombreDiplomado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idAsigDiplo }) |
            @Html.ActionLink("Details", "Details", new { id=item.idAsigDiplo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idAsigDiplo })
        </td>
    </tr>
}

</table>
