﻿@{
    ViewBag.Title = "Home Page";
}



<div class="container">
    @{
        <br><br>
        if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-warning">@ViewBag.Message</div>
        }
    }

    <form action="/Home/Login" method="post">
        <br>
        <div class="form-group">
            <label>Ingrese su email:</label>
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<input type="text" name="email" value="" />
        </div>
        <div class="form-group">
            <label>Ingresa su contraseña:</label>
            &nbsp <input type="password" name="password" value="" />
        </div>
        <div class="form-group">
            <button>Iniciar sesion</button>
        </div>
    </form>
</div>